<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create user</a>
    </div>

    <div class="w3-container">
        <h2>Striped Table</h2>
        <p>The w3-striped class adds zebra-stripes to a table:</p>
      
        <table class="w3-table w3-striped">
          <tr>
            <th>Email</th>
            <th>F name</th>
            <th>L name</th>
            <th>action</th>
          </tr>
            <% listUsers.forEach(function(listUser){%>
                <tr>
                <td><%=listUser.name %></td>
                <td><%=listUser.city %></td>
                <td><%=listUser.email %></td>
                <td><button>Edit</button>|<button>Delete</button></td>
              </tr>
            <% }); %>
        </table>
      </div>

    
</body>
</html>